@use "./variables" as var;

.cards {
  display: grid;
  justify-items: center;
  gap: 2rem;
  grid-template-columns: 1fr;

  @media only screen and (min-width: var.$bp-sm) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

$-border-width: 20px;

.pokemon {
  position: relative;
  perspective: 1500px;

  @media only screen and (min-width: var.$bp-sm) {
    min-width: auto;
  }

  /* ----------------------------------------
    *POKEMON CARD ROTATION STYLINGS*
  ---------------------------------------- */

  &__side {
    min-width: 320px;
    padding: 0.5rem 0;
    border-radius: 1rem;
    border: $-border-width solid var.$color-gray-0;
    backface-visibility: hidden;
    transition: all 1s;

    &--front {
      transform: rotateY(0);
    }
    &--back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: rotateY(180deg);
    }
  }

  &:hover .pokemon__side--front {
    transform: rotateY(-180deg);
  }

  &:hover .pokemon__side--back {
    transform: rotateY(0);
  }

  /* ----------------------------------------
    *POKEMON CARD INNER STYLINGS*
  ---------------------------------------- */

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;

    @media only screen and (min-width: var.$bp-sm) {
      flex-direction: row;
    }
  }
  &__name,
  &__type {
    margin-bottom: 0;
    font-weight: 600;
  }
  &__name {
    font-size: 1.5rem;
  }
  &__type {
    font-size: 0.85rem;
  }
  &__image {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image img {
    max-width: 300px;
  }
  &__ability {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__info {
    display: flex;
    justify-content: space-around;
    padding: 0 0.75rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    flex-direction: column;

    @media only screen and (min-width: var.$bp-sm) {
      flex-direction: row;
    }
  }
  &__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.25rem;

    @media only screen and (min-width: var.$bp-sm) {
      margin-bottom: 1rem;
    }
  }
  &__stat-type {
    font-weight: 600;
    text-transform: uppercase;
  }
  &__stat-bar {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    width: 100%;
    font-weight: 600;
    color: var.$color-black;

    &--hp {
      background-color: var.$color-hp;
    }
    &--atk {
      background-color: var.$color-atk;
    }
    &--def {
      background-color: var.$color-def;
    }
    &--spatk {
      background-color: var.$color-spatk;
    }
    &--spdef {
      background-color: var.$color-spdef;
    }
    &--spd {
      background-color: var.$color-spd;
    }
  }
  &__moves {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: var.$bp-sm) {
      justify-content: flex-start;
    }
  }
  &__move {
    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }
  &__extras {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 0.8rem;
  }

  /* ----------------------------------------
    *POKEMON CARD COLOR STYLINGS*
  ---------------------------------------- */

  //! NOTE:
  //! ----------------------------------------
  //! all the gradients are custom to try and fit the cards
  //! there isn't much of a system on how the colors are created

  $-gradient-degrees: 146deg;

  &__bug .pokemon__side {
    border: $-border-width solid var.$color-bug;
    background-color: var.$color-bug;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(202, 224, 14, 1) 0%,
      rgba(168, 184, 32, 1) 63%,
      rgba(132, 145, 21, 1) 100%
    );
  }

  &__dark .pokemon__side {
    border: $-border-width solid var.$color-dark;
    color: var.$color-white;
    background-color: var.$color-dark;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(64, 51, 43, 1) 0%,
      rgba(84, 67, 59, 1) 63%,
      rgba(59, 43, 32, 1) 100%
    );
  }

  &__dragon .pokemon__side {
    border: $-border-width solid var.$color-dragon;
    background-color: var.$color-dragon;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(59, 21, 148, 1) 0%,
      rgba(120, 85, 200, 1) 63%,
      rgba(74, 32, 173, 1) 100%
    );
    color: var.$color-white;
  }

  &__electric .pokemon__side {
    border: $-border-width solid var.$color-electric;
    background-color: var.$color-electric;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(252, 237, 18, 1) 0%,
      rgba(255, 228, 121, 1) 50%
    );
  }

  &__fairy .pokemon__side {
    border: $-border-width solid var.$color-fairy;
    background-color: var.$color-fairy;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(222, 167, 172, 1) 0%,
      rgba(250, 209, 212, 0.6) 63%,
      rgba(222, 167, 172, 1) 100%
    );
  }

  &__fighting .pokemon__side {
    border: $-border-width solid var.$color-fighting;
    background-color: var.$color-fighting;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(249, 114, 107, 1) 0%,
      rgba(192, 48, 40, 0.1) 63%,
      rgba(249, 114, 107, 1) 100%
    );
  }

  &__fire .pokemon__side {
    border: $-border-width solid var.$color-fire;
    background-color: var.$color-fire;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(255, 84, 84, 1) 0%,
      rgba(204, 181, 44, 1) 63%,
      rgba(252, 147, 18, 1) 100%
    );
  }

  &__flying .pokemon__side {
    border: $-border-width solid var.$color-flying;
    background-color: var.$color-flying;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(234, 227, 255, 1) 0%,
      rgba(168, 144, 240, 1) 63%,
      rgba(134, 110, 207, 1) 100%
    );
  }

  &__ghost .pokemon__side {
    border: $-border-width solid var.$color-ghost;
    color: var.$color-white;
    background-color: var.$color-ghost;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(95, 78, 167, 1) 0%,
      rgba(113, 107, 138, 1) 63%,
      rgba(95, 78, 167, 1) 100%
    );
  }

  &__grass .pokemon__side {
    border: $-border-width solid var.$color-grass;
    background-color: var.$color-grass;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(76, 147, 52, 1) 0%,
      rgba(155, 213, 134, 1) 63%,
      rgba(38, 111, 13, 1) 100%
    );
  }

  &__ground .pokemon__side {
    border: $-border-width solid var.$color-ground;
    background-color: var.$color-ground;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(227, 174, 28, 1) 0%,
      rgba(228, 201, 129, 1) 63%,
      rgba(199, 156, 38, 1) 100%
    );
  }

  &__ice .pokemon__side {
    border: $-border-width solid var.$color-ice;
    background-color: var.$color-ice;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(120, 255, 255, 1) 0%,
      rgba(235, 255, 255, 1) 63%,
      rgba(33, 145, 145, 1) 100%
    );
  }

  &__poison .pokemon__side {
    border: $-border-width solid var.$color-poison;
    background-color: var.$color-poison;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(63, 81, 194, 1) 0%,
      rgba(197, 173, 255, 1) 63%,
      rgba(80, 41, 172, 1) 100%
    );
  }

  &__psychic .pokemon__side {
    border: $-border-width solid var.$color-psychic;
    background-color: var.$color-psychic;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(255, 188, 219, 1) 0%,
      rgba(248, 88, 180, 1) 63%,
      rgba(255, 160, 211, 1) 100%
    );
  }

  &__rock .pokemon__side {
    border: $-border-width solid var.$color-rock;
    background-color: var.$color-rock;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(157, 136, 45, 1) 0%,
      rgba(228, 201, 129, 1) 63%,
      rgba(124, 102, 7, 1) 100%
    );
  }

  &__steel .pokemon__side {
    border: $-border-width solid var.$color-steel;
    background-color: var.$color-steel;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(119, 164, 188, 1) 0%,
      rgba(193, 204, 210, 1) 63%,
      rgba(80, 119, 140, 1) 100%
    );
  }

  &__water .pokemon__side {
    border: $-border-width solid var.$color-water;
    background-color: var.$color-water;
    background-image: linear-gradient(
      $-gradient-degrees,
      rgba(17, 137, 152, 1) 0%,
      rgba(102, 193, 204, 1) 63%,
      rgba(32, 68, 173, 1) 100%
    );
  }
}
