/* ----------------------------------------
  *BREAKPOINT VARIABLES*
---------------------------------------- */
/* ----------------------------------------
  *COLOR VARIABLES*
---------------------------------------- */
/* ----------------------------------------
  *FONT VARIABLES*
---------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  padding: 140px 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1680px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.searchbar {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.searchbar input {
  width: 100%;
  max-width: 600px;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1.25rem;
  border: 2px solid rgb(214, 214, 214);
}

.searchbar button {
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.cards {
  display: grid;
  justify-items: center;
  gap: 2rem;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 380px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.pokemon {
  position: relative;
  perspective: 1500px;
  /* ----------------------------------------
    *POKEMON CARD ROTATION STYLINGS*
  ---------------------------------------- */
  /* ----------------------------------------
    *POKEMON CARD INNER STYLINGS*
  ---------------------------------------- */
  /* ----------------------------------------
    *POKEMON CARD COLOR STYLINGS*
  ---------------------------------------- */
}
@media only screen and (min-width: 380px) {
  .pokemon {
    min-width: auto;
  }
}
.pokemon__side {
  min-width: 320px;
  padding: 0.5rem 0;
  border-radius: 1rem;
  border: 20px solid #f5f5f5;
  backface-visibility: hidden;
  transition: all 1s;
}
.pokemon__side--front {
  transform: rotateY(0);
}
.pokemon__side--back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);
}
.pokemon:hover .pokemon__side--front {
  transform: rotateY(-180deg);
}
.pokemon:hover .pokemon__side--back {
  transform: rotateY(0);
}
.pokemon__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
}
@media only screen and (min-width: 380px) {
  .pokemon__title {
    flex-direction: row;
  }
}
.pokemon__name, .pokemon__type {
  margin-bottom: 0;
  font-weight: 600;
}
.pokemon__name {
  font-size: 1.5rem;
}
.pokemon__type {
  font-size: 0.85rem;
}
.pokemon__image {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon__image img {
  max-width: 300px;
}
.pokemon__ability {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
}
.pokemon__info {
  display: flex;
  justify-content: space-around;
  padding: 0 0.75rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  flex-direction: column;
}
@media only screen and (min-width: 380px) {
  .pokemon__info {
    flex-direction: row;
  }
}
.pokemon__stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.25rem;
}
@media only screen and (min-width: 380px) {
  .pokemon__stats {
    margin-bottom: 1rem;
  }
}
.pokemon__stat-type {
  font-weight: 600;
  text-transform: uppercase;
}
.pokemon__stat-bar {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 100%;
  font-weight: 600;
  color: #232323;
}
.pokemon__stat-bar--hp {
  background-color: #ff3030;
}
.pokemon__stat-bar--atk {
  background-color: #ff9900;
}
.pokemon__stat-bar--def {
  background-color: #f8d030;
}
.pokemon__stat-bar--spatk {
  background-color: #6890f0;
}
.pokemon__stat-bar--spdef {
  background-color: #78c850;
}
.pokemon__stat-bar--spd {
  background-color: #f85888;
}
.pokemon__moves {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 380px) {
  .pokemon__moves {
    justify-content: flex-start;
  }
}
.pokemon__move:not(:last-child) {
  margin-bottom: 0.8rem;
}
.pokemon__extras {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 0.8rem;
}
.pokemon__bug .pokemon__side {
  border: 20px solid #a8b820;
  background-color: #a8b820;
  background-image: linear-gradient(146deg, rgb(202, 224, 14) 0%, rgb(168, 184, 32) 63%, rgb(132, 145, 21) 100%);
}
.pokemon__dark .pokemon__side {
  border: 20px solid #705848;
  color: #fff;
  background-color: #705848;
  background-image: linear-gradient(146deg, rgb(64, 51, 43) 0%, rgb(84, 67, 59) 63%, rgb(59, 43, 32) 100%);
}
.pokemon__dragon .pokemon__side {
  border: 20px solid #4a20ad;
  background-color: #4a20ad;
  background-image: linear-gradient(146deg, rgb(59, 21, 148) 0%, rgb(120, 85, 200) 63%, rgb(74, 32, 173) 100%);
  color: #fff;
}
.pokemon__electric .pokemon__side {
  border: 20px solid #efd229;
  background-color: #efd229;
  background-image: linear-gradient(146deg, rgb(252, 237, 18) 0%, rgb(255, 228, 121) 50%);
}
.pokemon__fairy .pokemon__side {
  border: 20px solid #fad1d4;
  background-color: #fad1d4;
  background-image: linear-gradient(146deg, rgb(222, 167, 172) 0%, rgba(250, 209, 212, 0.6) 63%, rgb(222, 167, 172) 100%);
}
.pokemon__fighting .pokemon__side {
  border: 20px solid #c03028;
  background-color: #c03028;
  background-image: linear-gradient(146deg, rgb(249, 114, 107) 0%, rgba(192, 48, 40, 0.1) 63%, rgb(249, 114, 107) 100%);
}
.pokemon__fire .pokemon__side {
  border: 20px solid #f52323;
  background-color: #f52323;
  background-image: linear-gradient(146deg, rgb(255, 84, 84) 0%, rgb(204, 181, 44) 63%, rgb(252, 147, 18) 100%);
}
.pokemon__flying .pokemon__side {
  border: 20px solid #a890f0;
  background-color: #a890f0;
  background-image: linear-gradient(146deg, rgb(234, 227, 255) 0%, rgb(168, 144, 240) 63%, rgb(134, 110, 207) 100%);
}
.pokemon__ghost .pokemon__side {
  border: 20px solid #7d79a3;
  color: #fff;
  background-color: #7d79a3;
  background-image: linear-gradient(146deg, rgb(95, 78, 167) 0%, rgb(113, 107, 138) 63%, rgb(95, 78, 167) 100%);
}
.pokemon__grass .pokemon__side {
  border: 20px solid #4c8837;
  background-color: #4c8837;
  background-image: linear-gradient(146deg, rgb(76, 147, 52) 0%, rgb(155, 213, 134) 63%, rgb(38, 111, 13) 100%);
}
.pokemon__ground .pokemon__side {
  border: 20px solid #e0c068;
  background-color: #e0c068;
  background-image: linear-gradient(146deg, rgb(227, 174, 28) 0%, rgb(228, 201, 129) 63%, rgb(199, 156, 38) 100%);
}
.pokemon__ice .pokemon__side {
  border: 20px solid #b8fafd;
  background-color: #b8fafd;
  background-image: linear-gradient(146deg, rgb(120, 255, 255) 0%, rgb(235, 255, 255) 63%, rgb(33, 145, 145) 100%);
}
.pokemon__poison .pokemon__side {
  border: 20px solid #a27dfa;
  background-color: #a27dfa;
  background-image: linear-gradient(146deg, rgb(63, 81, 194) 0%, rgb(197, 173, 255) 63%, rgb(80, 41, 172) 100%);
}
.pokemon__psychic .pokemon__side {
  border: 20px solid #f85888;
  background-color: #f85888;
  background-image: linear-gradient(146deg, rgb(255, 188, 219) 0%, rgb(248, 88, 180) 63%, rgb(255, 160, 211) 100%);
}
.pokemon__rock .pokemon__side {
  border: 20px solid #b8a038;
  background-color: #b8a038;
  background-image: linear-gradient(146deg, rgb(157, 136, 45) 0%, rgb(228, 201, 129) 63%, rgb(124, 102, 7) 100%);
}
.pokemon__steel .pokemon__side {
  border: 20px solid #77a4bc;
  background-color: #77a4bc;
  background-image: linear-gradient(146deg, rgb(119, 164, 188) 0%, rgb(193, 204, 210) 63%, rgb(80, 119, 140) 100%);
}
.pokemon__water .pokemon__side {
  border: 20px solid #4f72db;
  background-color: #4f72db;
  background-image: linear-gradient(146deg, rgb(17, 137, 152) 0%, rgb(102, 193, 204) 63%, rgb(32, 68, 173) 100%);
}

/*# sourceMappingURL=style.css.map */
